/* Importing fonts via 2 methods */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.odin-style{
    font-family: norse-bold;
    font-weight: bold;
    font-size: 80px;
}

.main{
    display: flex;
}

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    min-width: 300px;
    height: 100vh;
    background: no-repeat center/100% url("images/tent.avif");
    background-size: cover;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(0, 0, 0, 0.3);

    height: 150px;
    width: 100%;
    margin-top: 25vh;
    padding: 20px 0;
    
}

.banner img{
    color: white;
    height: 100%;
}

.banner div{
    color: white;
    font-family: 'norse-bold', serif;
    font-size: 96px;
}

.caption{
    color: white;
    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}


.content{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right,white, #ebebeb);
    width: 65vw;
    height:100vh;
}

.introduction{
    color: #0a1926;
    font-size: 24px;
    font-weight: 500;
    padding-left: 50px;
    padding-top: 100px;
    max-width: 700px;
    margin-bottom: 80px;
}

.formSection{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 50px;
    margin-bottom: 40px;
}

.formSection p{
    color: #0a1926;
    font-size: 36px;
    font-weight: bold;
    padding: 20px 0;
}

#signup-form{
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 20px;
    justify-content: space-between;
    max-width: 700px;
    padding-bottom: 50px;
}

.formInput{
    display: flex;
    flex-direction: column;

    font-size: 18px;
    width: 300px;
    gap: 10px;
}



input{
    font-size:18px;
    height: 30px;
   
}

input:focus{
    outline-color: #e69338;
}

#subitFormBtn{
    width: 250px;
    height: 50px;
    margin-left: 50px;
    background-color: #e69338;
    font-size: 20px;
    font-weight: 800;
    color:white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.logInPrompt{
    margin-left: 50px;
    font-size: 18px;
    color:#0a1926;
}